# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Point clouds (evita file enormi nel repo)
*.pcd
*.xyz

# CSV, data raw
*.npy
*.npz

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
